
body {
  overflow: hidden;
}

.wrapper {
  margin-top: 80px;
  width: 98vw;
  max-width: 600px;
  height: 95vh;
  background-color: var(--white);
  color: var(--main-color);
  overflow-y: auto;
}

.wrapper > li {
  list-style: none;
  box-shadow: 1px 0px 1px var(--sub-color);
  margin-bottom: 1px;
  font-size: var(--phone-text-size);
}

.year {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin: 10px 0 1px 10px;
}

.content {
  display: inline-block;
  width: 70%;
  margin: 10px 0;
}